* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.material-symbols-outlined {font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;}

body {
    background-color: white;
    overflow-x: hidden;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section {
    width: 100%;
    height: 90vh;
    filter: brightness(0.9), saturate(0.9);
}
.hero-banner {
    background-image: url(../assets/hero-banner.png);
    background-repeat:no-repeat;
    background-size: cover; 
    background-position: -30px -100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.hero-text {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    width: 50%;
    height: 50%;
    padding: 0 16vh;
    gap: 24px;
}
.hero-text h1 {
    font-size: 5rem;
}

.hero-text p {
    font-size: 1.5rem;
    line-height: 2.25;
}

.action {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 18px;
}

.action button {
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #080604;
}

#shop-now {
    background-color: #d47b33;
}

#read-more {
    background-color: #f1af7b;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 150vh;
    background-color: #fbf6f2;
    border-radius: 30px;
    width: 90%;
    margin-top: -20vh;
    padding: 5vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.description {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 30px;
}

.description-box svg {
    margin: 14px;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-text p {
    font-size: 14px;
    max-width: 12rem;
}

.shop-by-header {
    display: flex;
    align-items: center;
}

.shop-by-header h2 {
    padding: 20px;
    font-weight: normal;
    font-size: 56px;
}

.shop-by-nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.shop-by-nav svg {
    border: 1px solid #d47b33;
    border-radius: 50px;
    width: 50px; height: 50px;
    padding: 10px;
    transition: all ease 0.2s;
    cursor: pointer;
}

.shop-by-nav svg:hover {
    background-color: #d47b33;
}

.shop-by-nav button {
    border: none;
    background-color: transparent;
}

.category-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    max-height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.category {
    width: calc((100% - 30px) / 4);
    flex-shrink: 0;
    min-height: 450px;
    scroll-snap-align: center;
    background-color: white;
    border-radius: 30px;
    transition: all 0.2s ease;
    cursor: pointer;
    border: white 1px solid;
}

.category img {
    height: 85%; width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.category h3 {
    font-weight: normal;
    display: flex;
    justify-content: center; align-items: center;
    padding: 12px 0;
    height: 15%;
}

.category:hover {
    border: #d47b33 1px solid;
}

.room {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.room-box {
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}

.room-img {
    border-radius: 30px;
    object-fit: cover;
    max-height: 49vh;
    width: 100%;
    transition: all ease 0.2s;
}

.room-title {
    opacity: 0;
    position: absolute;
    inset: 50px;
    display: flex;
    justify-content: center; align-items: center;
    background-color: transparent;
    border: 2px solid #fbf6f2;
    color: #fbf6f2;
    transition: all ease 0.2s;
}

.room-box:hover .room-img {filter: brightness(50%);}
.room-box:hover .room-title {opacity: 1;}

@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 0.5s;
}

