body {
    background-color: #fbf6f2;
    overflow-x: hidden;   
}
.container {
    display: flex; flex-direction: column;
    justify-content: center;
    padding: 0 8vw;
}
.container section {
    padding-top: 4vh;
}

.hero-section {
    position: relative;
    width: 100%;
}
.hero-banner img {
    object-fit: cover;
    height: 70vh;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.hero-text {
    position: absolute;
    top: 10%; right: 0; left: 2%; bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    width: 50%;
    height: 50%;
    padding: 0 16vh;
    gap: 24px;
}
.hero-text h1 {
    font-size: 5rem;
}
.hero-text p {
    font-size: 1.5rem; 
    line-height: 2;
}
.action {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 18px;
}
/*.action a {
    display: flex; justify-content: center; align-items: center;
    text-decoration: none;
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #080604;
}*/
#shop-now {
    background-color: #d47b33;
}
#read-more {
    background-color: #f1af7b;
}

.description {
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 10px;
}

.description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 30px;
}

.description-box svg {
    margin: 14px;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-text p {
    font-size: 14px;
    max-width: 12rem;
}

.shop-now-section, .shop-now-section-reversed {
    padding-top: 4vh;
    display: grid; gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.shop-now-section div, .shop-now-section-reversed img {
    border-radius: 120px 0px 0px 120px;
}

.shop-now-section img, .shop-now-section-reversed div {
    border-radius: 0px 120px 120px 0px;
}

.shop-now-section div, .shop-now-section-reversed div {
    background-color: #F9EFE9;
    display: flex; align-items: flex-start; flex-direction: column;
    gap: 24px;
    font-size: 20px; line-height: 1.75;
    padding: 80px;
}

.shop-now-section a , .shop-now-section-reversed a, .action a  {
    border: none;
    padding: 1em 6em;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #d47b33;
    display: flex; justify-content: center; align-items: center;
    text-decoration: none;
}

.shop-now-section-reversed div {
    text-align: right;
}

.shop-now-section-reversed a, .shop-now-section-reversed h2 {
    margin-left: auto;
}

.shop-by-header {
    display: flex;
    align-items: center;
}

.shop-by-header h2 {
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 56px;
}

.shop-by-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.shop-by a {
    text-decoration: none;
    color: #d47b33;
    transition: all 0.5s ease;
}

.shop-by-nav svg {
    border: 1px solid #d47b33;
    color: #d47b33;
    border-radius: 50px;
    width: 50px; height: 50px;
    padding: 10px;
    transition: all ease 0.2s;
    cursor: pointer;
}

.shop-by-nav svg:hover {
    background-color: #d47b33;
    color: white;
}

.shop-by-nav button {
    border: none;
    background-color: transparent;
}

.category-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    max-height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.category {
    width: calc((100% - 32px) / 4);
    flex-shrink: 0;
    min-height: 450px;
    scroll-snap-align: center;
    background-color: white;
    border-radius: 30px;
    transition: all 0.2s ease;
    cursor: pointer;
    border: white 1px solid;
}

.product {
    position: relative;
    flex-shrink: 0;
    width: calc(100% / 4);
    scroll-snap-align: center;
}

.product img {
    display: block;
    transition: 0.5s all ease;
    border: white 1px solid;
    border-radius: 30px;
}

.product p {font-size: 12px;}
.product b {font-size: 20px;}

.default-img {
    opacity: 1;
} 
.hover-img {
    opacity: 0; 
    position: absolute;
    top: 0; left: 0;
}

.default-img:hover {
    opacity: 0;
}

.hover-img:hover {
    opacity: 1;
}

.category img, .product img {
    height: 85%; width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.category a {
    text-decoration: none;
    color: black;
}

.category h3 {
    font-weight: normal;
    display: flex;
    justify-content: center; align-items: center;
    padding: 12px 0;
    height: 15%;
}

.category:hover {
    border: #d47b33 1px solid;
}

.room {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.room-box {
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}

.room-img {
    border-radius: 30px;
    object-fit: cover;
    max-height: 49vh;
    width: 100%;
    transition: all ease 0.2s;
}

.room-title {
    opacity: 0;
    position: absolute;
    inset: 50px;
    display: flex;
    justify-content: center; align-items: center;
    background-color: transparent;
    border: 2px solid #fbf6f2;
    color: #fbf6f2;
    transition: all ease 0.2s;
}

.room-box:hover .room-img {filter: brightness(50%);}
.room-box:hover .room-title {opacity: 1;}

