::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: rgb(241 175 123);
    border-radius: 10px;
    margin: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:  rgb(233, 106, 2);
    border: 2px solid transparent;
    background-clip: padding-box;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 97, 2);
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-button:decrement {
    cursor: pointer;
    background-size: 20px;
    height: 15px;
    border: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23d47b33' stroke-width='4.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-up-icon lucide-chevron-up'><path d='m18 15-6-6-6 6'/></svg>") no-repeat center;
}

::-webkit-scrollbar-button:increment {
    cursor: pointer;
    background-size: 20px;
    height: 15px;
    border: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23d47b33" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>') no-repeat center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}


.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}

body {
    background-color: white;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 20vh;
    width: 100%;
    height: 10vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.nav-options-wrapper {
    display: flex;
    margin-left: auto;
    gap: 24px;
}

.nav-options {
    background-color: transparent;
    border: none;
    position: relative;
    min-height: 32px;
    top: 0;
    color: black;
    transition: 0.2s all ease;
    cursor: pointer;
}

.nav-options:hover {
    top: -5px;
}

.dropdown-content {
    opacity: 0; pointer-events: none; scale: 0; 
    position: fixed; right: 165px; top: -40px;
    background-color: white; border: 1px solid #dedede;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 14px;
    margin-top: 10px;
    width: 300px;
    height: auto;
    transition: 0.2s all ease;
    font-size: 0.9rem;
}

.dropdown-content li{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    transition: 0.2s all ease;
    cursor: pointer;
}

.dropdown-content li a {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    align-items: center;
}

.dropdown-content li:hover {
    background-color: #dedede;
}

#username {font-weight: 600;}
#email {color: rgb(89, 99, 110);}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    width: 100%;
    height: 90vh;
    filter: brightness(0.9), saturate(0.9);
}

.hero-banner {
    background-image: url(assets/hero-banner.png);
    background-repeat:no-repeat;
    background-size: cover; 
    background-position: -30px -100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    width: 50%;
    height: 50%;
    padding: 0 16vh;
    gap: 24px;
}

.hero-text h1 {
    font-size: 5rem;
}

.hero-text p {
    font-size: 1.5rem;
    line-height: 2.25;
}

.action {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 18px;
}

.action button {
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #080604;
}

#shop-now {
    background-color: #d47b33;
}

#read-more {
    background-color: #f1af7b;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 150vh;
    background-color: #fbf6f2;
    border-radius: 30px;
    width: 90%;
    margin-top: -20vh;
    padding: 5vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.description {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 30px;
}

.description-box svg {
    margin: 14px;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-text p {
    font-size: 14px;
    max-width: 12rem;
}

.shop-by {
    height: 50vh;
}

.shop-by-header {
    display: flex;
    align-items: center;
}

.shop-by-header h2 {
    padding: 20px;
    font-weight: normal;
    font-size: 56px;
}

.shop-by-nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.shop-by-nav svg {
    border: 1px solid #d47b33;
    border-radius: 50px;
    width: 50px; height: 50px;
    padding: 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.shop-by-nav svg:hover {
    background-color: #d47b33;
}

.category-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 10px;
    max-height: 100%;
}

.category {
    height: auto; width: auto;
    
}

.category img {
    height: 100%; width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.room {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.room-box {
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}

.room-img {
    border-radius: 30px;
    object-fit: cover;
    max-height: 49vh;
    width: 100%;
    transition: all 0.5s;
}

.room-title {
    opacity: 0;
    position: absolute;
    inset: 50px;
    display: flex;
    justify-content: center; align-items: center;
    background-color: transparent;
    border: 2px solid #fbf6f2;
    color: #fbf6f2;
    transition: all 0.5s;
}

.room-box:hover .room-img {filter: brightness(50%);}
.room-box:hover .room-title {opacity: 1;}

.is-shown {
    opacity: 1; scale: 1;
    pointer-events: all;
    top: 65px; right: 35px;
}

