@font-face {
    font-family: Inter;
    src: url(../font/Inter.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;
}
.material-symbols-outlined {font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    height: 90vh;
    padding: 8vh 12vw;
    width: 100%;
    place-items: start center;
}

.product-container {
    width: fit-content;
}

.product-image {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    width: auto;
}

.breadcrumb {
    font-weight: 200;
    font-size: 16px;
    color: #000000;
}

.main-product {
    height: 52vh; width: 32vw;
    background-color: #d9d9d9;
    aspect-ratio: 1/1;
}

.product-angles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 32vw;
    gap: 24px;
}

.product-angles div {
    background-color: #d9d9d9;
    height: 16vh; width: auto;
}

.product-detail {
    display: flex; gap: 24px;
    flex-direction: column;
    align-items: flex-start; justify-content: flex-start;
    padding: 40px;
}

.product-detail b {
    font-size: 20px;
}

.product-detail h2 {
    margin: 8px 0;
}

hr {width: 100%; margin: -12px 0;}

.description-dropdown button {
    display: flex; align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: -12px;
}

.description-content p {
    line-height: 1.5;
}

.description-content {
    /*transform: translateY(-12px);*/
    overflow: hidden;
    pointer-events: none;
    max-height: 80px;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    transition: all 1s ease;
}

.is-clicked {
    /*transform: translateY(0px);*/
    max-height: 200px;
    pointer-events: all;
    mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
}

.select-color {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.color {
    padding: 0 20px;
    margin-left: auto; 
    display: flex;
    gap: 12px;
}

.shop-guarantee {
    display: flex; align-items: center;
    gap: 12px;
    font-weight: 300;
}

.shop-actions {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    gap: 16px;
}

.shop-actions button {
    border: none; background-color: transparent;
    cursor: pointer;
}

.shop-actions div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-container {
    border: #d47b33 solid 1px;
    border-radius: 30px;
    gap: 12px;
}

.add-to-cart button {
    background-color: #d47b33;
    border-radius: 30px;
    padding: 16px;
    width: 100%;
}

.like {
    justify-self: start;
}
