.del-btn {
    background: #fff;
    border: 1px solid #dc2f31;
    color: #dc2f31;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}
.del-btn:hover {
    background: #f3a9a9;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
td {
    font-size: 14px;
}
td a {
    color: #D47B33;
    text-decoration: none;
}
#product-name {
    text-align: left;
    max-width: 380px;
}
.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.pagination a {
    padding: 12px 26px;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    text-decoration: none;
    color: #D47B33;
    background: #fff;
    border: 1px solid #D47B33;
}
.pagination a:hover {
    background: #ffe6cc;
}
.pagination a.active {
    background: #D47B33;
    color: white;
}
a.next-btn {
    background: #D47B33;
    color: white;
}
a.next-btn:hover {
    background: #b46328;
}
a.back-btn {
    background: #fff;
    border: 1px solid #D47B33;
    color: #D47B33;
}
a.back-btn:hover {
    background: #ffe6cc;
}