body {
    background-color: #f9f8f6;
}

.checkout-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 50px;
    padding: 7vh 12vw;
}

.checkout-left,
.checkout-right {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}

.checkout-left {
    padding: 40px 45px;
}

.checkout-left h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}

.checkout-left h3 {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 500;
    color: #333;
}

.process-step-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    margin-bottom: 20px;
}

.process-step {
    padding: 4px 8px;
    border-bottom: #c8c8c8 2px solid;
    color: #d9d9d9;
}

.process-step-active {
    padding: 4px 8px;
    border-bottom: #d47b33 2px solid;
    color: #d47b33;
}

.process-number {
    background-color: #d47b33;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-row {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.form-row.wide {
    flex-wrap: nowrap;
}

.input-container {
    position: relative;
    flex: 1;
}

.checkout-form select {
    font-size: 13.5px;
    color: black;
}

.checkout-form select option {
    color: black;
}

.checkout-form select:invalid {
    color: #777;
}

.checkout-form input, .checkout-form select {
    width: 100%;
    padding: 14px 16px;
    border: 1.6px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.25s ease;
}

.checkout-form label:not(.payment-methods *) {
    position: absolute;
    top: 14px;
    left: 16px;
    font-size: 13.5px;
    color: #777;
    background: #fff;
    padding: 0 6px;
    transition: 0.2s ease;
    pointer-events: none;
}

.checkout-form input:focus, .checkout-form select:focus {
    border-color: #d47b33;
    outline: none;
    box-shadow: 0 0 4px rgba(212, 123, 51, 0.2);
}

.checkout-form input:not([type="radio"]):not([type="checkbox"]):focus + label, 
.checkout-form input:not([type="radio"]):not([type="checkbox"]):not(:placeholder-shown) + label {
    top: -8px;
    font-size: 11.5px;
    color: #d47b33;
    left: 12px;
}

.order-check {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}

.order-check svg {
    width: 120px;
    height: auto;
    border-radius: 50%;
    padding: 12px;
    background-color: #38C173;
}

.checkout-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 14px;
    padding: 20px;
    height: fit-content;
}

.checkout-right h2 {
    font-size: 24px;
    font-weight: 600;
    padding: 12px;
    color: #222;
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-container {
    padding: 0 12px;
    height: auto;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-item {
    display: flex;
    gap: 18px;
    border-bottom: 1px solid #e6e6e6;
    padding: 14px 0;
}

.item-image {
    border-radius: 12px;
    flex-shrink: 0;
}

.item-image img {
    border: #ececec solid 1px;
}

.item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item-details-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.item-details-header h4, .price {
    font-weight: 600;
    color: #000;
    font-size: 14px;
}

.item-details-header h4 {
    text-wrap: wrap;
}

.price {
    text-wrap: nowrap;
}

.item-details p {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    line-height: 1.5;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.summary-row.total {
    font-weight: 600;
    font-size: 16px;
}

.summary-row, .summary-row.total {
    padding: 0 24px;
}

.checkout-btn {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    width: 100%;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #d47b33;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.checkout-btn:hover {
    background-color: #b96324;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(212, 123, 51, 0.3);
}

hr {
    border: none;
    border-top: 1px solid #e6e6e6;
    margin: 12px 0;
}

.payment-methods {
    display: flex;
    gap: 15px;
    margin-top: 12px;
}

.payment-methods input[type="radio"] {
    display: none;
}

.payment-methods label.payment-options {
    flex: 1;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    gap: 8px;
    padding: 32px 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    background-color: #fff;
    color: #444;
}

.payment-option svg {
    width: 24px;
    height: 24px;
    stroke: #666;
    flex-shrink: 0;
}

.payment-option span {
    font-size: 14px;
    font-weight: 500;
}

.payment-methods input[type="radio"]:checked + label.payment-options {
    border-color: #d47b33; 
    background-color: rgba(212, 123, 51, 0.05);
    color: #d47b33;
}

.payment-option:hover,
.payment-option.active {
    border-color: #d47b33;
    background-color: #fff9f3;
}

.checkout-step {
    display: none;
    flex-direction: column;
    gap: 14px;
}

.checkout-step.step-active {
    display: flex;
}

.step-btn {
    border: none;
    background-color: transparent;
    width: 32px; height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.2s;
}

.step-btn:hover {
    background-color: #ccc;
}

.payment-option.active {
    border-color: #d47b33;
    background-color: #fff9f3;
}

.process-step {
    color: #d9d9d9;
    border-bottom: 2px solid #c8c8c8;
    padding: 4px 8px;
}

.process-step-active {
    color: #d47b33;
    border-bottom: 2px solid #d47b33;
}