body {
    background: #fdf6f0;
}

.admin-wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 
    "a b b"
    "a c c"
    "a c c";
}

.top-header {
    grid-area: b;
    width: 100%;
    height: 10vh;
    background: #F9EFE9;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.header-text {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 36px;
    color: #D47B33;
}

.sidebar {
    /*box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2), 15px 0 40px rgba(0, 0, 0, 0.05);*/
    border-right: 1px solid rgba(0,0,0,0.1);
    background: #F9EFE9;
    grid-area: a;
    width: 14vw;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 12px;
}

.logo img {
    height: 40px; width: auto;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.side-btn {
    display: flex; align-items: center;
    border: #D47B33 1px solid;
    color: #D47B33;
    font-weight: 600;
    background: #fff;
    padding: 14px 24px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    gap: 24px;
}

.side-btn:hover {
    color:white;
    background: #D47B33;
}

.side-btn.active {
    background: #D47B33;
    color: white;
}

.content {
    grid-area: c;
    flex: 1;
    padding: 40px 80px;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps {
    width: 800px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.step {
    color: rgba(0,0,0,0.3);
    padding-bottom: 4px;
    font-size: 16px;
    text-wrap: nowrap;
    font-weight: 600;
}

.step.active {
    color:#D47B33;
    border-color: #D47B33;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

form {
    min-height: 60vh;
    min-width: 800px;
}

.form-area h3 {
    color:#D47B33;
}

.input-group {
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
}

input,
textarea,
select {
    border: 1px solid #ccc;
    padding: 12px 14px;
    border-radius: 10px;
    background: #fff;
    font-size: 14px;
}

input:focus,
textarea:focus {
    border-color: #D47B33;
    outline: none;
}

textarea {
    height: 120px;
    resize: none;
}

.input-row {
    display: flex;
    gap: 20px;
}

.half {
    flex: 1;
}

.review-card {
    line-height: 1.5;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

.review-card h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #d47b33;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.review-card ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}

.review-card ul li {
    margin-bottom: 5px;
}


.img-preview-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.preview-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.image-card, .color-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-card p, .color-card p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.nav-buttons {
    min-width: 800px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.next-btn,
.back-btn {
    padding: 12px 26px;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.next-btn {
    background: #D47B33;
    color: white;
}

.next-btn:hover {
    background: #b46328;
}

.back-btn {
    background: #fff;
    border: 1px solid #D47B33;
    color: #D47B33;
}

.back-btn:hover {
    background: #ffe6cc;
}
